[Unit]
Description=CREST REST application (SpringBoot v3.3.4)
After=syslog.target

[Service]
User=crest
ExecStart=/usr/local/share/crest/entrypoint.sh
SuccessExitStatus=143
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target

