openapi: 3.0.0
info:
  version: '5.0'
  title: CREST Server
  description: OpenApi3 for CREST Server
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://crest-undertow.web.cern.ch/api'
security:
  - BearerAuth: []
  - OpenID:
      - openid
tags:
  - name: tags
paths:
  /tags:
    get:
      tags:
        - tags
      summary: Finds a TagDtos lists.
      description: |
        This method allows to perform search and sorting.
        Arguments: name=<pattern>, objectType, timeType, description
        page={ipage}, size={isize}, sort=<sortpattern>.
      operationId: listTags
      parameters:
        - name: name
          in: query
          description: 'the tag name search pattern {all}'
          required: false
          schema:
            type: string
            default: all
        - name: timeType
          in: query
          description: 'the tag timeType {none}'
          required: false
          schema:
            type: string
        - name: objectType
          in: query
          description: 'the tag objectType search pattern {none}'
          required: false
          schema:
            type: string
        - name: description
          in: query
          description: 'the global tag description search pattern {none}'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: 'page: the page number {0}'
          required: false
          schema:
            type: integer
            default: 0
            format: int32
        - name: size
          in: query
          description: 'size: the page size {1000}'
          required: false
          schema:
            type: integer
            default: 1000
            format: int32
        - name: sort
          in: query
          description: 'sort: the sort pattern {name:ASC}'
          required: false
          schema:
            type: string
            default: 'name:ASC'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagSetDto'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/genericError'
    post:
      tags:
        - tags
      summary: Create a Tag in the database.
      description: 'This method allows to insert a Tag.Arguments: TagDto should be provided in the body as a JSON file.'
      operationId: createTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDto'
        default:
          $ref: '#/components/responses/genericError'
  '/tags/{name}':
    get:
      tags:
        - tags
      summary: Finds a TagDto by name
      description: This method will search for a tag with the given name. Only one tag should be returned.
      operationId: findTag
      parameters:
        - name: name
          in: path
          description: 'name: the tag name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagSetDto'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/genericError'
    put:
      tags:
        - tags
      summary: Update a TagDto by name
      description: 'This method will search for a tag with the given name, and update its content for the provided body fields. Only the following fields can be updated: description, timeType, objectTime, endOfValidity, lastValidatedTime.'
      operationId: updateTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericMap'
      parameters:
        - name: name
          in: path
          description: 'name: the tag name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDto'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/genericError'
  '/tags/{name}/meta':
    get:
      tags:
        - tags
      summary: Finds a TagMetaDto by name
      description: This method will search for a tag metadata with the given name. Only one tag should be returned.
      operationId: findTagMeta
      parameters:
        - name: name
          in: path
          description: 'name: the tag name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagMetaSetDto'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/genericError'
    post:
      tags:
        - tags
      summary: Create a TagMeta in the database.
      description: 'This method allows to insert a TagMeta.Arguments: TagMetaDto should be provided in the body as a JSON file.'
      operationId: createTagMeta
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagMetaDto'
      parameters:
        - name: name
          in: path
          description: 'name: the tag name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagMetaDto'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/genericError'
    put:
      tags:
        - tags
      summary: Update a TagMetaDto by name
      description: 'This method will search for a tag with the given name, and update its content for the provided body fields. Only the following fields can be updated: description, timeType, objectTime, endOfValidity, lastValidatedTime.'
      operationId: updateTagMeta
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericMap'
      parameters:
        - name: name
          in: path
          description: 'name: the tag name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagMetaDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/TagMetaDto'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/genericError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    OpenID:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.cern.ch/auth/realms/cern/.well-known/openid-configuration'
  requestBodies:
    GenericMapBody:
      description: A JSON object containing generic map used for updates
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericMap'
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPResponse'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPResponse'
    '409':
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPResponse'
    genericError:
      description: Generic error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPResponse'
  schemas:
    HTTPResponse:
      description: general response object that can be used for POST and PUT methods
      type: object
      required:
        - code
        - message
      properties:
        timestamp:
          type: string
          format: date-time
        code:
          type: integer
          description: HTTP status code of the response
        error:
          type: string
        type:
          type: string
          description: A generic string specifying the exception type.
        message:
          type: string
        id:
          type: string
          description: path or URI of the requested or generated resource
    CrestBaseResponse:
      type: object
      required:
        - size
        - format
      properties:
        size:
          type: integer
          format: int64
        datatype:
          type: string
        format:
          type: string
        page:
          $ref: '#/components/schemas/RespPage'
        filter:
          $ref: '#/components/schemas/GenericMap'
      discriminator:
        propertyName: format
    RespPage:
      type: object
      required:
        - size
        - totalElements
        - totalPages
        - number
      properties:
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
        number:
          type: integer
    GenericMap:
      type: object
      properties:
        name:
          type: string
      additionalProperties:
        type: string
    TagSetDto:
      description: An Set containing TagDto objects.
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/TagDto'
      allOf:
        - $ref: '#/components/schemas/CrestBaseResponse'
    TagDto:
      type: object
      properties:
        name:
          type: string
        timeType:
          type: string
        payloadSpec:
          type: string
        synchronization:
          type: string
        description:
          type: string
        lastValidatedTime:
          type: integer
          format: int64
        endOfValidity:
          type: integer
          format: int64
        insertionTime:
          type: string
          format: date-time
        modificationTime:
          type: string
          format: date-time
    TagMetaSetDto:
      description: An Set containing TagMetaDto objects.
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/TagMetaDto'
      allOf:
        - $ref: '#/components/schemas/CrestBaseResponse'
    TagMetaDto:
      type: object
      properties:
        tagName:
          type: string
        description:
          type: string
        chansize:
          type: integer
          format: int32
        colsize:
          type: integer
          format: int32
        tagInfo:
          type: string
        insertionTime:
          type: string
          format: date-time
