spring.profiles.active=default
user.timezone=GMT
crest.api.name=/api
crest.web.static=/tmp/data/web
crest.dump.dir=/tmp/data/dump
crest.log.dir=/tmp/data/dump
crest.server.security=auth0
management.endpoint.health.show-details=ALWAYS
