// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #ce9740;
$primary-invert: findColorInvert($primary);
$info: #ce9730;
$info-invert: findColorInvert($info);
$success: #0b80c3;
$success-invert: findColorInvert($success);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "warning": ($warning, $warning-invert),
  "success": ($success, $success-invert),
  "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
