# coding: utf-8

"""
    CrestDB REST API

    Crest Rest Api to manage data for calibration files.  # noqa: E501

    OpenAPI spec version: 2.0
    Contact: andrea.formica@cern.ch
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from crestapi.api_client import ApiClient


class FsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def build_tar(self, tagname, snapshot, **kwargs):  # noqa: E501
        """Dump a tag into filesystem and retrieve the tar file asynchronously.  # noqa: E501

        This method allows to request a tar file from the server using a tag specified in input.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.build_tar(tagname, snapshot, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tagname: tagname: the tag name {none} (required)
        :param int snapshot: snapshot: the snapshot time {0} (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.build_tar_with_http_info(tagname, snapshot, **kwargs)  # noqa: E501
        else:
            (data) = self.build_tar_with_http_info(tagname, snapshot, **kwargs)  # noqa: E501
            return data

    def build_tar_with_http_info(self, tagname, snapshot, **kwargs):  # noqa: E501
        """Dump a tag into filesystem and retrieve the tar file asynchronously.  # noqa: E501

        This method allows to request a tar file from the server using a tag specified in input.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.build_tar_with_http_info(tagname, snapshot, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tagname: tagname: the tag name {none} (required)
        :param int snapshot: snapshot: the snapshot time {0} (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tagname', 'snapshot']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method build_tar" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tagname' is set
        if ('tagname' not in params or
                params['tagname'] is None):
            raise ValueError("Missing the required parameter `tagname` when calling `build_tar`")  # noqa: E501
        # verify the required parameter 'snapshot' is set
        if ('snapshot' not in params or
                params['snapshot'] is None):
            raise ValueError("Missing the required parameter `snapshot` when calling `build_tar`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'tagname' in params:
            query_params.append(('tagname', params['tagname']))  # noqa: E501
        if 'snapshot' in params:
            query_params.append(('snapshot', params['snapshot']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/plain'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fs/tar', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
